.collection-type-blog > main {
	padding-top: 20%;

	@media (max-width: @s-max) {
		padding-top: 30%;
	}

	> .filter {
		margin: 0 0 10%;

		> a {
			display: inline-block;
			margin-left: 20px;
		}
	}

	> article {
		.clearfix();

		> .title {
			margin: 0;

			> a {
				color: @paragraph-color;

				.no-touch &:hover {
					color: @link-color;
				}
			}
		}

		> .excerpt > p {
			font-size: @paragraph-font-font-size * .8;
		}

		> figure {
			margin: 50px 0;
		}

		> .sqs-layout {
			margin-bottom: 50px;
		}

		> .tag {
			.small-print;
			color: @link-color;

			@media (min-width: @m-min) {
				display: block;
				float: left;
			}

			@media (max-width: @s-max) {
				display: inline-block;
			}

			.no-touch &:hover {
				color: @paragraph-color;
			}

			&::before {
				content: "#";
			}

			& + .tag {
				margin-left: 10px;
			}
		}

		> .timestamp {
			.small-print;
			color: @link-color;

			@media (min-width: @m-min) {
				float: right;
			}

			@media (max-width: @s-max) {
				display: block;
				margin: 10px 0;
			}

			.no-touch &:hover {
				color: @paragraph-color;
			}
		}

		& + article {
			margin-top: 30%;
		}
	}

	> .list {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (min-width: @m-min) {
			.clearfix();
			margin: 0 -20px;
		}

		> li {
			margin: 0;
			padding: 0 0 20px;

			@media (min-width: @m-min) {
				float: left;
				width: 50%;
				padding: 0 20px 20px;
			}

			> a {
				display: block;
				position: relative;
				.transform-style(preserve-3d);

				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background-color: fade(#fff, 80%);
					visibility: hidden;
				}

				> figure {
					margin: 0;
					padding-bottom: 100%;
					position: relative;

					> .content-fill {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}

				> .meta {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					.transform(translate3d(0, -50%, 0));
					visibility: hidden;
					z-index: 5;
					text-align: center;
					color: @paragraph-color;
					padding: 20px;

					> .title {
						.h1-font;
						font-size: @h1-font-font-size * .5;
					}

					> time {
						display: block;
						margin-top: 10px;
						.small-print;
					}
				}

				.touch > &,
				.no-touch > &:hover {

					&::after {
						visibility: visible;
					}

					> .meta {
						visibility: visible;
					}
				}
			}
		}
	}

	> nav {
		margin: 200px 0 0;
		text-align: center;

		> a {
			display: inline-block;
			margin: 0 20px;
			.small-print;
			color: @link-color;

			&.disabled {
				color: fade(@link-color, 25%) !important;
				cursor: default;
			}

			.no-touch &:hover {
				color: @paragraph-color;
			}
		}
	}
}
