@breakpoint: 767px;
@easing: ease-in-out;

*, ::before, ::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;

	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// tweak: { "type": "value", "title": "Content Width", "category": "Site Options", "min": 600, "max": 1200, "step": 10 }
@content-width: 620px;

.content {
	width: 100%;
	max-width: ~"calc(@{content-width} + 10%)";
	margin: 0 auto;
	padding: 0 5%;

	.yui3-widget & {
		margin: 0;
		padding: 0;
		width: auto;
	}

	// @media (max-width: @s-max) {
	// 	padding-left: 6%;
	// 	padding-right: 6%;
	// }
}

