// tweak: { "type": "font", "title": "Page Title", "target": "#header .page-title", "showOnlyWhenPresent": "#header .page-title" }
.page-title-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.33em;
}

// tweak: { "type": "font", "title": "Page Description", "target": "#header .page-description", "showOnlyWhenPresent": "#header .page-description" }
.page-description-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.33em;
}


#header {
	padding: 18% 0 10%;
	position: relative;
	z-index: 50;

	@media (max-width: @breakpoint) {
		padding-top: 30%;
	}

	> figure {
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
	}

	> .page-title {
		position: relative;
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
		z-index: 100;
		.page-title-font;

		@media (max-width: @breakpoint) {
			padding: 0 10%;
		}
	}

	> .page-description {
		position: relative;
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
		z-index: 100;

		> p {
			.page-description-font;
		}

		@media (max-width: @breakpoint) {
			padding: 0 10%;
		}
	}
}
