// tweak: { "type": "font", "title": "Section Title", "target": ".collection-type-index main > section > header > .title", "category": "Index" }
.index-section-title-font {
	font-family: "lato";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .187em;
}

// tweak: { "type": "font", "title": "Blog Post Title", "target": ".collection-type-index main > section > div li .title", "category": "Index" }
.index-blog-post-title-font {
	font-family: "lato";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: none;
	letter-spacing: 0em;
}

// tweak: { "type": "font", "title": "Blog Post Category Font", "target": ".collection-type-index main > section > div li .categories", "category": "Index" }
.index-blog-post-category-font {
	font-family: "lato";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.167em;
}


.collection-type-index {

	#header {
		height: 100vh;

		> .page-title {
			display: none;
		}

		> .page-description {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0 0 4% 6%;
			max-width: 70%;
			text-align: left;
			padding: 0;

			> p {
				margin: 0;
				.page-title-font;

				@media (max-width: @breakpoint) {
					font-size: @page-title-font-font-size / 1.5;
				}
			}
		}
	}

	main {

		> section {
			.clearfix();
			margin: 10% 0;

			@media (max-width: @breakpoint) {
				margin: 20% 0;
			}

			> header {
				text-align: center;
				padding: 0 30%;

				@media (max-width: @breakpoint) {
					padding: 0 10%;
				}

				> .title {
					.h2-font;
					color: @h2-color;
				}

				> .description > p {
					.h3-font;
					margin: .5em 0 1em;
				}

				@media (min-width: 1024px) {
					float: left;
					width: 25%;
					padding: 0 2.5% 0 0;
					text-align: left;

					> .title {
						.index-section-title-font;
					}
				}
			}

			> div {
				margin-top: 50px;

				@media (min-width: 1024px) {
					float: left;
					width: 75%;
					margin-top: 0;
				}

				@media (max-width: @breakpoint) {
					margin-top: 30px;
				}
			}

			&[data-type="blog"] {

				> div {

					> ul {
						list-style: none;
						margin: 0;
						padding: 0;

						.no-touch &:hover > li {
							opacity: .5;
						}

						@media (min-width: @breakpoint) {
							margin-left: -17px;
							margin-right: -17px;
						}

						> li {
							margin: 0;
							padding: 0;
							transition: opacity .1s @easing;
							transform: translate3d(0, 0, 0);

							@media (max-width: @breakpoint) {
								margin-bottom: 30px;
							}

							.no-touch &:hover {
								opacity: 1;
							}

							@media (min-width: @breakpoint) {
								float: left;
								width: percentage((1/3));
								padding: 0 17px;
							}

							> a {
								display: block;
								color: @paragraph-color;

								> figure {
									margin: 0;
									padding: 0 0 100%;
									position: relative;
									background-color: fade(#333, 5%);

									> div {
										position: absolute;
										top: 0;
										right: 0;
										bottom: 0;
										left: 0;
									}
								}

								> .title {
									.index-blog-post-title-font;
									margin: 1em 0 0;
								}

								> .excerpt {
									.paragraph-font;

									> p {
										margin: .33em 0 .67em;
									}
								}

								> .category {
									.index-blog-post-category-font;
									color: fade(@paragraph-color, 30%);
								}
							}
						}
					}
				}
			}
		}
	}
}
