.collection-type-index > main {

	> section {
		padding: 0 5%;
		margin: 4% 0;

		&.blog {
			text-align: center;
			padding: 0;
			margin: 0;

			> .content {
				width: 80%;

				> h4 {
					color: #fff;
				}

				> h2 {
					color: #fff;
					letter-spacing: .09em;

					@media (max-width: @s-max) {
						font-size: (@h2-font-font-size / 1.5);
					}
				}

				> p {
					color: #fff;

					@media (max-width: @s-max) {
						display: none;
					}
				}

				> a {
					margin-top: 20px;
				}
			}

			&:first-child {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 100vh;
				z-index: 20;
				font-size: 0;
				visibility: hidden;

				&::before {
					content: "";
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}

				> .content {
					display: inline-block;
					vertical-align: middle;
					padding-top: 0;
					padding-bottom: 0;

					> * {
						visibility: visible;
					}
				}
			}
		}
	}
}
