// tweak: { "type": "font", "title": "Site Title", "target": "#logo" }
.site-title-font {
	font-family: "futura-pt", "Futura PT", "Futura", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .125em;
}

// tweak: { "type": "font", "title": "Nav Text", "target": "#nav" }
.nav-font {
	font-family: "futura-pt", "Futura PT", "Futura", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .125em;
}

// tweak: { "type": "color", "title": "Nav Text Color", "target": "#header" }
@nav-color: #111;


#logo,
#header > figure > a {
	@padding: 18px - ((@site-title-font-font-size - @nav-font-font-size) / 2);
	.site-title-font;
	line-height: 1;
	top: (-(@site-title-font-font-size - @nav-font-font-size) / 2) - @padding;
	padding: @padding 24px;
}

#logo {
	position: fixed;
	left: -24px;
	margin: 4% 0 0 6%;
	.site-title-font;
	color: @nav-color;
	background-color: fade(#fff, 95%);
}

#nav {
	position: fixed;
	top: -18px;
	right: -20px;
	margin: 4% 6% 0 0;
	padding: 10px 20px;
	background-color: fade(#fff, 95%);

	> ul {
		list-style: none;
		margin: 0 -8px 0 0;
		padding: 0;
		cursor: default;

		> li {
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-block;

			> a {
				.nav-font;
				line-height: 1;
				color: @nav-color;
				padding: 8px;
				margin: 0;
				display: block;
				cursor: pointer;

				.no-touch &:hover {
					opacity: .5;
				}

				@media (max-width: @s-max) {
					font-size: 0;
				}
			}


			&:last-child {

				> a {
					padding-right: 40px;
					position: relative;

					&::after {
						content: "";
						width: 20px;
						height: 24px;
						background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyNCI+PHBhdGggZD0iTTYgOEgwVjZoNnYyem0wIDNIMHYyaDZ2LTJ6bTAgNUgwdjJoNnYtMnpNMjAgMHYyNEgydi00aDJ2MmgxNFYySDR2MkgyVjBoMTh6Ii8+PC9zdmc+") center center no-repeat;
						background-size: 20px 24px;
						position: absolute;
						top: 3px;
						right: 10px;
					}
				}
			}
		}
	}
}
