// tweak: { "type": "font", "title": "Site Title", "target": "#logo" }
.site-title-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .215em;
}

// tweak: { "type": "font", "title": "Nav Text", "target": "#nav" }
.nav-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .215em;
}

// tweak: { "type": "color", "title": "Site Title", "target": "#header" }
@site-title-color: #333;

// tweak: { "type": "color", "title": "Nav Link", "target": "#header" }
@nav-link-color: rgba(51, 51, 51, .5);


#logo {
	position: absolute;
	top: -7px;
	left: -8px;
	margin: 4% 0 0 6%;
	padding: 8px;
	.site-title-font;
	line-height: 1;
	color: @site-title-color;
	z-index: 100;
}

#nav {
	position: absolute;
	top: 0;
	right: 0;
	margin: 4% 6% 0 0;
	z-index: 100;

	@media (max-width: @breakpoint) {
		display: none;
	}

	> ul {
		list-style: none;
		margin: -8px -8px 0 0;
		padding: 0;
		cursor: default;

		> li {
			margin: 0 7px;
			padding: 0;
			position: relative;
			display: inline-block;
			pointer-events: auto;

			&:last-child {
				margin-right: 0;
			}

			> a {
				.nav-font;
				display: block;
				line-height: @site-title-font-font-size;
				color: @nav-link-color;
				padding: 8px;
				margin: 0;
				cursor: pointer;

				.no-touch &:hover {
					color: fade(@nav-link-color, 100%);
				}
			}
		}
	}
}
