// tweak: { "type": "font", "title": "H1 Font", "target": "h1" }
.h1-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.33em;
}

// tweak: { "type": "color", "title": "Heading 1", "target": "h1" }
@h1-color: rgba(51, 51, 51, .7);

h1 {
	.h1-font;
	color: @h1-color;

	@media (max-width: @breakpoint) {
		// font-size: @h1-font-font-size * .75;
	}
}


// tweak: { "type": "font", "title": "H2 Font", "target": "h2" }
.h2-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.33em;
}

// tweak: { "type": "color", "title": "Heading 2", "target": "h2" }
@h2-color: #333;

h2 {
	.h2-font;
	color: @h2-color;

	@media (max-width: @breakpoint) {
		// font-size: @h2-font-font-size * .75;
	}
}


// tweak: { "type": "font", "title": "H3 Font", "target": "h3" }
.h3-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.33em;
}

// tweak: { "type": "color", "title": "Heading 3", "target": "h3" }
@h3-color: rgba(51, 51, 51, .7);

h3 {
	.h3-font;
	color: @h3-color;
}


h1, h2, h3 {
	margin: 1em 0 .5em;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	& + & {
		margin-top: 0;
	}
}

h3 {
	margin: 2em 0 1em;
}


// tweak: { "type": "font", "title": "Paragraph Font", "target": "p" }
.paragraph-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5em;
}

// tweak: { "type": "font", "title": "Italic Font", "target": "p em" }
.italic-font {
	font-family: "lato", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 300;
	text-decoration: none;
}

// tweak: { "type": "color", "title": "Paragraph", "target": "p" }
@paragraph-color: rgba(51, 51, 51, .7);

// tweak: { "type": "color", "title": "Italic Text", "target": "p" }
@italic-color: rgba(51, 51, 51, .7);


body {
	color: @paragraph-color;
	.paragraph-font;
}

p {
	.paragraph-font;
	margin: 1em 0;
	color: @paragraph-color;

	em {
		.italic-font;
		color: @italic-color;
	}
}


// tweak: { "type": "color", "title": "Link", "target": ".sqs-layout a" }
@link-color: #333;

a {
	text-decoration: none;

	p & {
		color: @link-color;

		.no-touch &:hover {
			color: @paragraph-color;
		}
	}
}


::selection {
	background: #333;
	color: #fff;
}

::-moz-selection {
	background: #333;
	color: #fff;
}
