#feed {
	z-index: 10;
}

#logo {
	z-index: 20;
}

#nav {
	z-index: 40;
}

#header {

	> figure {
		z-index: 30;
	}

	> .featured-post {
		z-index: 15;
	}
}

main {
	z-index: 15;
}

#footer {
	z-index: 15;
}
